body{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    padding: 20px;
}
li{
    font-weight: bold;
}
button{
    margin: 5px;
    padding: 7px;
    background-color: rgb(212, 205, 205);
    border: none;
}